<div class="row mb-5">

        <div class="col-sm">
            <div class="row justify-content-center m-2">
                <button class="btn bg-success text-white btn-hover" (click)="goToLaunch()">
                    Novo Lançamento &nbsp; &nbsp;<fa-icon [icon]="faPencil"></fa-icon>
                </button>
            </div>
        </div>

        <div class="col-sm"></div>

        <div class="col-sm">
            <div class="row justify-content-center m-2">
                <button class="btn bg-success text-white btn-hover">
                    Consultar Lançamentos &nbsp; &nbsp;<fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </div>

</div>