<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-sm"></div>
        <div class="col-md-8">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-2">
                <div class="col-sm-12">
                    <h3 class="text-center">Detalhes de {{ monthName }}</h3>
                </div>
            </div>

            <div class="row px-2">
                <div class="col-sm-4" 
                    *ngIf="showLaunchIn">
                    
                    <div class="rounded bg-white py-3 my-4">

                        <app-pie-chart
                            [chartTitle]="'Lançamentos de entrada'"
                            [launchDataToChart]="launchDataToChart"
                            [launchStatus]="'received'"
                            [isPayMethod]="false">
                        </app-pie-chart>
    
                    </div>
                </div>

                <div class="col-sm-4" 
                    *ngIf="showLaunchOut">
                    
                    <div class="rounded bg-white py-3 my-4">

                        <app-pie-chart
                            [chartTitle]="'Lançamentos de saída'"
                            [launchDataToChart]="launchDataToChart"
                            [launchStatus]="'paid'"
                            [isPayMethod]="false">
                        </app-pie-chart>
    
                    </div>
                </div>

                <div class="col-sm-4" 
                    *ngIf="showLaunchOut">
                    
                    <div class="rounded bg-white py-3 my-4">

                        <app-pie-chart
                            [chartTitle]="'Tipo de pagamento'"
                            [launchDataToChart]="launchDataToChart"
                            [launchStatus]="'paid'"
                            [isPayMethod]="true">
                        </app-pie-chart>
    
                    </div>
                </div>

            </div>

            <div class="row mb-2 px-3">
                <div *ngIf="pendingLaunches.length > 0" class="rounded bg-white py-3 my-4">

                    <h4>Lançamentos pendentes</h4>

                    <app-launch-table 
                    [launches]="pendingLaunches"
                    (updateLaunchStatus)="updateLaunchStatus($event)"
                    (editLaunch)="openEditing($event)"
                    (launchToDelete)="deleteLaunch($event)" >
                    </app-launch-table>

                </div>

            </div>
            <div class="row mb-2 px-3">
                <div *ngIf="launches.length > 0" class="rounded bg-white py-3 my-4">

                    <h4>Lançamentos pagos/recebidos</h4>

                    <app-launch-table 
                    [launches]="launches"
                    (updateLaunchStatus)="updateLaunchStatus($event)"
                    (editLaunch)="openEditing($event)"
                    (launchToDelete)="deleteLaunch($event)" >
                    </app-launch-table>

                </div>

            </div>

        </div>
        <div class="col-sm"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->