<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-8">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-4 justify-content-between">
                <div class="col-md text-center">
                    <button class="btn btn-sm fs-4 fw-bold mb-3 me-3" (click)="decreaseYear()">
                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                    </button>
                    <span class="fs-4 fw-bold"> {{ year }} </span>
                    <button class="btn btn-sm fs-4 fw-bold mb-3 ms-3" (click)="increaseYear()">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                </div>
                <div class="col-md text-center">
                    <h4>
                        saldo
                        {{ amountAvailable | currency:'BRL'}}
                    </h4>
                </div>
            </div>

            <div class="row mb-2 px-3">

                <div *ngIf="loadingGrid; else showGrid">
                    <div class="text-center">
                        <div class="spinner-border text-success" style="width: 9rem; height: 9rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <ng-template #showGrid>
                    <app-month-grid *ngIf="arrayLaunchResumeByYearAndMonth.length === 12"
                        [launchesResume]="arrayLaunchResumeByYearAndMonth"
                        (selectedMonthDetailPage)="openSelectedMonthDetailPage($event)">
                    </app-month-grid>
                </ng-template>

            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->