<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-8">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-4">
                <div class="col-md-12">
                    <h3 class="text-center">Bem vindo, {{ userFirstName }}</h3>
                </div>
            </div>

            <div class="row mb-4 justify-content-between">
                <div class="col-md text-center">
                    <h4>ano selecionado</h4>
                </div>
                <div class="col-md text-center">
                    <h4>saldo disponível</h4>
                </div>
            </div>

            <div class="row mb-2 px-3">

                <app-month-grid></app-month-grid>

            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->