<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-8">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-5">
                <div class="col-md-12">
                    <h3 class="text-center">Bem vindo, {{ userFirstName }}</h3>
                </div>
            </div>

            <!-- <div class="row mb-5 border text-center">
                <div class="col-md-12">
                    <p>teste de alguma coisa,<br> 
                        aqui aparecera algum conteudo aleatorio apenas para exemplificar.
                        <br>
                        <br>
                        isso tem alguma importancia?
                        <br>
                        nao sei mas serve pra aparecer
                    </p>
                </div>
            </div> -->

            <div class="row justify-content-center">

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm mb-4">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">mês</h3>
                        </div>                        

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Entrada</td>
                                            <td>{{ 1000 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Saída</td>
                                            <td>{{ 100 | currency:'BRL'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Disp.</td>
                                            <td>{{ 1000 - 100 | currency:'BRL'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="showResume()" class="btn btn-sm btn-success"
                                    [disabled]="true">
                                    Mais detalhes
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->