<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-6">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-5">
                <div class="col-md-12">
                    <h3 class="text-center">Bem vindo, {{ userFirstName }}</h3>
                </div>
            </div>

            <div class="row mb-5 border text-center">
                <div class="col-md-12">
                    <p>teste de alguma coisa,<br> 
                        aqui aparecera algum conteudo aleatorio apenas para exemplificar.
                        <br>
                        <br>
                        isso tem alguma importancia?
                        <br>
                        nao sei mas serve pra aparecer
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->