<!-- BODY -->
<div class="container-fluid">

    <!-- REGISTER -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-6">

            <div class="row mb-5">
                <div class="col-md-12">
                    <h1 class="text-center">Login</h1>
                </div>
            </div>

            <div class="row mx-2">

            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END REGISTER -->

</div>
<!-- END BODY -->