<div class="modal-content">
    <div class="modal-header">
        <h4>Detalhes do lançamento</h4>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-md">
                <strong>&raquo;</strong> Tipo de lançamento:
                {{ applicable == 'Out' ? 'Saída' : 'Entrada' }}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md">
                <strong>&raquo;</strong> Data:
                {{ date | date }}
            </div>
        </div>

        <div class="row mb-2">

            <div class="col-md">
                <strong>&raquo;</strong> Status do
                {{ applicable == 'Out' ? 'pagamento' : 'recebimento' }}:
                <span class="bg-success text-white rounded-pill p-2" *ngIf="status.toLocaleLowerCase() === 'paid'">
                    Paguei
                </span>
                <span class="bg-success text-white rounded-pill p-2" *ngIf="status.toLocaleLowerCase() === 'received'">
                    Recebi
                </span>
                <span class="bg-warning rounded-pill p-2" *ngIf="status.toLocaleLowerCase() === 'pending'">
                    Pendente
                </span>
            </div>

        </div>

        <!-- scheduling region -->
        <!-- <p>
            <strong>&raquo;</strong> Situação:
            <span *ngIf="scheduling === 'scheduled'">
                Agendado para o mês seguinte
            </span>
            <span *ngIf="scheduling === 'launched'">
                Criado no mês seguinte
            </span>
            <span *ngIf="scheduling !== 'scheduled' && scheduling !== 'launched'">
                Sem agendamento prévio
            </span>
        </p> -->

        <div class="row mb-2">
            <div class="col-md">
                <strong>&raquo;</strong> Categoria:
                {{ categoryName }}
            </div>
        </div>

        <div class="row mb-2" *ngIf="applicable === 'Out'">
            <div class="col-md">
                <strong>&raquo;</strong> Forma de Pagamento:
                <span *ngIf="payMethod === 'Credit'">Crédito</span>
                <span *ngIf="payMethod === 'Debit'">Débito</span>
                <span *ngIf="payMethod === 'Cash'">Dinheiro</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md">
                <strong>&raquo;</strong> Valor:
                {{ amount | currency: 'BRL' }}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md">
                <strong>&raquo;</strong> Descrição:
                {{ description }}
            </div>
        </div>

        
        <div class="row mb-2 justify-content-center" *ngIf="!isToDelete">
            <hr>
            <div class="col-md">

                Marcar como:

                <button (click)="updateStatus()" class="btn">
                    <span class="bg-success text-white rounded-pill p-2"
                        *ngIf="applicable === 'Out' && status.toLocaleLowerCase() === 'pending'">
                        Paguei
                    </span>
                    <span class="bg-success text-white rounded-pill p-2"
                        *ngIf="applicable === 'In' && status.toLocaleLowerCase() === 'pending'">
                        Recebi
                    </span>
                    <span class="bg-warning rounded-pill p-2"
                        *ngIf="status.toLocaleLowerCase() === 'paid' || status.toLocaleLowerCase() === 'received'">
                        Pendente
                    </span>
                </button>

            </div>
        </div>
    </div>
    <div class="modal-footer">

        <!-- delete launch -->
        <button type="button" class="btn btn-primary" (click)="dismiss()" *ngIf="isToDelete">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" (click)="confirm()" *ngIf="isToDelete">Deletar</button>

        <!-- view launch -->
        <button type="button" class="btn btn-secondary" (click)="openEditing()" *ngIf="!isToDelete">Editar</button>
        <button type="button" class="btn btn-primary" (click)="dismiss()" *ngIf="!isToDelete">OK</button>

    </div>
</div>
