<!-- BODY -->
<div class="container-fluid">

    <!-- REGISTER -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-md"></div>
        <div class="col-md-6">

            <div class="row mb-5">
                <div class="col-md-12">
                    <h1 class="text-center">{{ pageTitle }}</h1>
                </div>
            </div>

            <div class="row mx-2">
                <div class="rounded bg-white p-3 my-4 mb-5">
                    
                    <!-- start register form -->
                    <div *ngIf="!activateAccount; else showActivate">
                    
                        <app-register-form (registerNewUser)="onSubmit($event)"></app-register-form>
                        
                        <div *ngIf="true" class="row my-2">
                            <div class="col-md text-center">
                                <a routerLink="/login" class="text-center">Já possui uma conta?</a>
                            </div>
                        </div>

                    </div>
                    <!-- end register form -->

                    <!-- start activation form -->
                    <ng-template #showActivate>

                        <div class="row">
                            <div class="col-md text-center">
                                <p>
                                    Voce recebera por e-mail um link para ativar sua conta que tem a validade de 2 horas.
                                    <br><br>
                                    Apos este periodo, o link de ativacao sera invalido.
                                </p>
                                <br>
                                <p>
                                    Caso voce tenha problemas para ativar sua conta, entre em contato com o suporte, usando o e-mail abaixo.
                                    <br>
                                    <a href="mailto:suporte@dinheiroexato.com.br">suporte@dinheiroexato.com.br</a>
                                </p>
                            </div>
                        </div>
                        
                    </ng-template>
                    <!-- end activation form -->

                </div>
            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END REGISTER -->

</div>
<!-- END BODY -->