<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[0]"
        ></app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[1]"
        ></app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[2]"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[3]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[4]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[5]"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[6]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[7]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[8]"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[9]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[10]"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[11]"
        >
        </app-month-card>
    </div>

</div>