<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Janeiro'"
        ></app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Fevereiro'"
        ></app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Março'"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Abril'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Maio'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Junho'"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Julho'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Julho'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Agosto'"
        >
        </app-month-card>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Setembro'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Outubro'"
        >
        </app-month-card>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthName]="'Novembro'"
        >
        </app-month-card>
    </div>

</div>