<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[0]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        ></app-month-card>
        <div *ngIf="launchesResume[0].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[1]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        ></app-month-card>
        <div *ngIf="launchesResume[1].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[2]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[2].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[3]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[3].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[4]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[4].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[5]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[5].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[6]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[6].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[7]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[7].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[8]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[8].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[9]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[9].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[10]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[10].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

    <div class="col-sm mb-4">
        <app-month-card
        [monthResume]="launchesResume[11]"
        (selectedMonthDetailPage)="monthDetailPage($event)"
        >
        </app-month-card>
        <div *ngIf="launchesResume[11].hasPending"
        class="mt-2 border border-danger rounded text-white text-center bg-danger">
            Existem lançamentos pendentes neste mês
        </div>        
    </div>

</div>