<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Categoria</th>
            <th scope="col" class="text-center" *ngIf="isDeleted">Tipo</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let category of categories; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td class="text-center">{{ category.name }}</td>
            <td class="text-center" *ngIf="isDeleted">
                <span *ngIf="category.applicable.toLowerCase() === categoryApplicableEnum.in">Entrada</span>
                <span *ngIf="category.applicable.toLowerCase() === categoryApplicableEnum.out">Saida</span>
            </td>
            <td>
                <div *ngIf="!isDeleted; else showDeleted">
                    <span (click)="handleEvent(category, categoryEventTypeEnum.delete)" class="cursor-pointer" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Apagar categoria">
                        <fa-icon [icon]="faTrashCan"></fa-icon>
                    </span>
                </div>

                <ng-template #showDeleted>
                    <span (click)="handleEvent(category, categoryEventTypeEnum.reactive)" class="cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Reativar categoria">
                        <fa-icon [icon]="faArrowRotateLeft"></fa-icon>
                    </span>
                </ng-template>
            </td>
        </tr>
    </tbody>

</table>