<!-- BODY -->
<div class="container-fluid bg-section-gray pb-3">

    <!-- MAIN SCREEN -->
    <div class="row py-5 bg-section-gray section-height">
        <div class="col-sm"></div>
        <div class="col-md-6">

            <app-sub-menu></app-sub-menu>

            <div class="row mb-2">
                <div class="col-sm-12">
                    <h3 class="text-center">Crie novos lançamentos</h3>
                </div>
            </div>

            <div class="row mb-5 px-3">
                <div class="rounded bg-white py-3 my-4">

                    <!-- start register form -->
                    <form>
                        <div class="form-row">

                            <div class="form-group mb-3">
                                <div class="col-sm">

                                    <label for="launchType">
                                        Tipo de lançamento
                                    </label>

                                    <select id="dropLaunchType" name="launchType" class="form-control">
                                        <option value="" selected disabled hidden></option>
                                        <option value="in">Entrada</option>
                                        <option value="out">Saida</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">

                                    <label for="inputDate">Data</label>
                                    <input type="date" id="inputDate" name="date" class="form-control">

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">

                                    <label for="inputCategory">
                                        Categoria
                                    </label>
                                    <select id="dropCategory" name="category" class="form-control">
                                        <option value=""></option>
                                        <!-- <option *ngFor="let item of categories.data" [ngValue]="item.id">
                                            {{item.category}}
                                        </option> -->
                                    </select>

                                </div>
                                <div class="col-sm mt-1">

                                    <a href="#" class="btn bg-success text-white btn-hover">Criar categorias</a>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">

                                    <label for="inputDescription">Descrição</label>
                                    <input type="text" id="inputDescription" name="description" class="form-control">

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">
                                        
                                    <label for="inputValue">Valor</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">R$</div>
                                        </div>
                                        <input min="0.01" name="value" placeholder="Ex: 1,57" class="form-control"
                                            id="inputValue" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">
                                        
                                    <input type="checkbox" class="btn-check" id="btn-check-received" autocomplete="off">
                                    <label class="btn btn-outline-success" for="btn-check-received">
                                        Marcar como recebido
                                    </label>
                                    
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">
                                        
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                                    <label class="btn btn-outline-success" for="btn-check-outlined">
                                        Agendar para o proximo mes
                                    </label>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="col-sm">
                                        
                                    <button type="submit" class="btn bg-success text-white btn-hover" id="btnCreateLaunch">
                                        Criar lançamento
                                    </button>

                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- <form>

                        <div class="form-row">

                            <div class="form-group col-sm-6">

                                <label for="launchType">
                                    Tipo de lançamento
                                </label>
                                <select id="dropLaunchType" name="launchType" class="form-control">
                                    <option value="" selected visible="false" disabled></option>
                                    <option value="in">Entrada</option>
                                    <option value="out">Saida</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="inputDate">Data</label>
                                <input type="date" id="inputDate" name="date" class="form-control">

                            </div>

                            <div class="form-group col-md-6">

                                <label for="inputCategory">
                                    Categoria
                                </label>
                                <select id="dropCategory" name="category" class="form-control">
                                    <option value=""></option> -->
                    <!-- <option *ngFor="let item of categories.data" [ngValue]="item.id">
                                            {{item.category}}
                                        </option> -->
                    <!-- </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputDescription">Descrição</label>
                            <input type="text" class="form-control" id="inputDescription" placeholder="Ex: pagamento"
                                name="description">
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="inputValue">Valor</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input min="0.01" name="value" placeholder="Ex: 1,57" class="form-control"
                                        id="inputValue" />
                                </div>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <div class="row align-items-center justify-content-center">

                                    <div class="custom-control custom-switch" style="margin-top: 10px;">
                                        <input type="checkbox" class="custom-control-input" id="isReceivedCheckbox">
                                        <label class="custom-control-label" for="isReceivedCheckbox">Marcar como
                                            recebido</label>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group col-md-6">

                                <div class="row my-2">

                                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                                    <label class="btn btn-outline-success" for="btn-check-outlined">
                                        Agendar para o proximo mes
                                    </label>

                                </div>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <div class="row">
                                    <button type="submit" class="btn bg-success text-white btn-hover" id="btnCreateLaunch">
                                        Cria lançamento
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form> -->
                    <!-- end register form -->

                </div>

            </div>

        </div>
        <div class="col-sm"></div>
    </div>
    <!-- END MAIN SCREEN -->

</div>
<!-- END BODY -->