<!-- BODY -->
<div class="container-fluid">

    <!-- REGISTER -->
    <div class="row py-5 bg-section-gray">
        <div class="col-md"></div>
        <div class="col-md-6">

            <div class="row">

                <h2>Gerencie suas finanças <br>de forma simples.</h2>

                <h5>Cadastre-se, é facil e gratuito.</h5>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Digite seu e-mail."
                            aria-label="Recipient's username" aria-describedby="btn-email" name="email" [(ngModel)]="email" (input)="clearEmailSpace()">

                        <div class="input-group-append">
                            <button class="btn bg-success btn-hover btn-register" id="btn-email" (click)="startUserRegister()">
                                Cadastre-se grátis
                            </button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
        <div class="col-md"></div>
    </div>
    <!-- END REGISTER -->

    <!-- WHY TO USE DINHEIRO EXATO -->
    <div class="row py-5 bg-success justify-content-center">

        <div class="container">

            <div class="row text-center mb-4">
                <h3 class="text-white">Porque utilizar o Dinheiro Exato?</h3>
            </div>

            <div class="row mb-2">

                <div class="col-sm"></div>
                <div class="col-lg-3" >
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Facil de usar</h5>
                            <p class="card-text mb-2">O Dinheiro Exato foi pensado para melhorar seu controle
                                financeiro
                                de
                                maneira
                                simples e pratica.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Tudo ao seu alcance</h5>
                            <p class="card-text mb-2">Com todas as suas contas juntas, seu planejamento financeiro fica muito
                                mais
                                pratico e eficiente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Customizável</h5>
                            <p class="card-text mb-2">Utilize categorias que sejam o seu toque pessoal para controlar seu
                                dinheiro.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm"></div>

            </div>

        </div>

    </div>
    <!-- END WHY TO USE DINHEIRO EXATO -->

    <!-- ABOUT -->
    <div class="row py-5 bg-section-gray">
        <div class="container">
            <div class="row text-center mb-4">
                <h3>Como a plataforma nasceu?</h3>
            </div>

            <div class="row my-4">

                <div class="col-sm"></div>
                <div class="col-lg-3">
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Idéia</h5>
                            <p class="card-text mb-2">O Dinheiro Exato surgiu a partir do problema que é cuidar com carinho do
                                dinheiro que recebemos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Visão</h5>
                            <p class="card-text mb-2">Sempre buscamos facilitar todo o controle do dinheiro suado que
                                ganhamos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mt-2 py-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Objetivo</h5>
                            <p class="card-text mb-2">Buscamos entregar uma plataforma que tem por objetivo simplificar seu
                                controle
                                financeiro.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm"></div>

            </div>

            <div class="row text-center">
                <h4>O sucesso é alcançado quando analisamos nossos movimentos a cada passo!</h4>
            </div>
        </div>


    </div>
    <!-- END ABOUT -->

</div>
<!-- END BODY -->