/* site */
.btn-register {
    color:white;
    z-index: 9999;
}

.invide {
    height: 30%;
    padding: 5em 2em 7em;
}

.invide h2 {
    font-size: 35px;
}
/* end site */

/* cards */
.card {
    /* min-width: 300px !important; */
    min-width: 15vw !important;
    /* max-width: 30vw !important; */
    min-height: 18vh !important;
    /* max-height: 20vh !important; */
}
/* end cards */