/* You can add global styles to this file, and also import other style files */
.bg-success {
    background-color: #28A745 !important;
  }

  /* header */
.hover:hover {
  color: #ffffff80 !important;
}
.btn-hover:hover {
  color: #28A745 !important;
  background-color: #ffffffe2 !important;
  border: 1px solid #28A745 !important;
}

.border:hover {
  border: 1px solid #ffffff80 !important;
}
/* end header */

/* section */
.bg-section-gray{
  background-color: #DEDEDE;
}

.section-height {
  min-height:810px;
}
/* end section */

.cursor-pointer {
  cursor: pointer;
}