.btn-outline-success{
    color: #28a745;
    border-color: #28a745 ;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}
